@tailwind base;
@tailwind components;
@tailwind utilities;

body.player {
    background-image: url('../../public/images/background.webp');
    background-size: cover;
    background-position: center;
    @apply h-screen w-screen font-sans antialiased;
}

.inselectable {
    @apply select-none cursor-default;
}

.game {
    @apply relative h-screen w-full bg-slate-900/90;
}

#map {
    @apply w-full;
    height: calc(100vh - 240px);
}

#lock-rotation {
    @apply w-full h-full fixed bg-transparent z-50;
}

.gm-style a[href^="https://maps.google.com/maps"], header {
    /* display: none !important; Esconde o link */
    pointer-events: none !important;  /* Desativa o clique */
    cursor: default !important;
}

footer.game-footer {
    @apply fixed bottom-0 w-full pl-0 pr-0 bg-gray-900/90;
}
.footer-wrapper {
    @apply px-0 flex justify-between items-center py-0.5;
}
